extends ../layout

block content
	h1= user.name
	hr
	br
	p ID: #{user._id}
	p Login: #{user.login}
	p Name: #{user.name}
	p Date: #{moment(user.date_cad).format('DD/MM/YYYY')}
	br
	form(method="POST", action="/user/delete/#{user._id}", role="form")
		input(type="hidden", name="_method", value="delete")
		input(type="submit", name="delete", value="Delete", class="btn btn-danger")
	br
	a(href="/user" title="Back" class="") Back
		